.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.login {
    border-radius: 10px;

    color: #fff;

    backdrop-filter: blur(14px);
    box-shadow: 0 1px 4px 0 rgba(255,255,255,.4);
}

.news {
    border-radius: 10px;

    margin-left: 20px;

    color: #fff;

    backdrop-filter: blur(14px);
    box-shadow: 0 1px 4px 0 rgba(255,255,255,.4);
}

.login_form-background {
    background: url('@assets/images/background.jpg') no-repeat center;
    background-size: 100% 100%;
}