.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.login__header {
    height: 93px;
    width: 372px;
}
.login_headerImage {
    content: '';
    height: 100%;
    width: 100%;

    background-image: url('login.jpg');
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.navigator {
    background-color: rgba(94, 93, 93, 0.15);
    height: 47px;
    width: 370px;
}

.inputForm {
    display: flex;
    flex-direction: column;
    margin: 22px 4px 4px 4px;
}

.login__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0;
}

.inputForm_inputText {
    padding-left: 8px;
    padding-right: 8px;
    margin: 4px;
    width: 240px;
    height: 36px;

    border-radius: 16px;
}

.inputForm__checkbox {
    display: flex;
}

.inputForm__checkbox_checkboxLabel {

}

.inputForm__checkbox_checkboxInput {

}

.inputForm__rightSideButton {
    display: flex;
    justify-content: end;
}