.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.login {
    margin: 40px 20px 40px 40px;

    border-radius: 10px;

    color: #fff;

    backdrop-filter: blur(14px);
    box-shadow: 0 1px 4px 0 rgba(255,255,255,.4);
}

.news {
    margin: 40px 40px 40px 20px;

    border-radius: 10px;

    color: #fff;

    backdrop-filter: blur(14px);
    box-shadow: 0 1px 4px 0 rgba(255,255,255,.4);
}