.login {
    height: 400px;
    width: 370px;

    min-height: 400px;
    min-width: 370px;
}

.login__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.login__header {
    height: 93px;
    width: 372px;
}
.login__headerImage {
    content: '';
    height: 100%;
    width: 100%;

    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.login__navigator {
    background-color: rgba(106, 55, 134, .30);
    height: 47px;
    width: 370px;
}

.login__form {
    display: flex;
    flex-direction: column;
    margin: 22px 4px 4px 4px;
}

.login__inputBox {
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__inputText {
    flex: 1;
    padding-left: 8px;
    padding-right: 30px;
    margin: 4px;
    height: 36px;

    outline: none;
    border: 2px solid rgba(255, 255, 255, .30);
    border-radius: 16px;
}

.login__icon {
    position: absolute;
    transform: translateX(94px);
    font-size: 14px;
    color: black;
}

.login__checkbox {
    display: flex;
    margin: 4px 0 0 0;
}

.login__inputCheckbox_label {

}

.login__inputCheckbox {
    cursor: pointer;
}

.login__submitButton {
    outline: none;
    font-size: 14px;
    margin: 12px 0 0 0;
    height: 36px;
    border: 2px solid rgba(255, 255, 255, .30);
    border-radius: 16px;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.login__submitButton:hover {
    border: 2px solid rgba(255, 255, 255, .60);
}